.img {
    width: 100%; /* Ancho completo del contenedor */
    height: 400px; /* Altura fija */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenedor */
    opacity: 0.7;
  }