.img{
    width: 30%;
    padding: 0;
}

.bg{
    background: rgb(14,17,23);
    background: linear-gradient(180deg, rgba(14,17,23,1) 18%, rgba(17,20,26,1) 53%, rgba(24,33,50,1) 100%);
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.parrafo{
    color: #6d7681;
    margin-top: 3.5%;
}